.vscode
/__pycache__/
/sendMail.pyc
/keys.txt
/credentials.json
/token.pickle
/app.yaml
/env/

# Next.js
.next/
out/
node_modules/
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
