<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Yantramanav:300,700" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- favicon items -->
		<link rel="shortcut icon" type='image/x-icon' href="static/src/favicons/favicon.ico"/>
		<link rel="icon" sizes="16x16 32x32 64x64" href="static/src/favicons/favicon.ico"/>

		<link rel="icon" type="image/png" sizes="196x196" href="static/src/favicons/favicon-192.png"/>
		<link rel="icon" type="image/png" sizes="160x160" href="static/src/favicons/favicon-160.png"/>
		<link rel="icon" type="image/png" sizes="96x96" href="static/src/favicons/favicon-96.png"/>
		<link rel="icon" type="image/png" sizes="64x64" href="static/src/favicons/favicon-64.png"/>
		<link rel="icon" type="image/png" sizes="32x32" href="static/src/favicons/favicon-32.png"/>
		<link rel="icon" type="image/png" sizes="16x16" href="static/src/favicons/favicon-16.png"/>
		<link rel="apple-touch-icon" href="static/src/favicons/favicon-57.png"/>
		<link rel="apple-touch-icon" sizes="114x114" href="static/src/favicons/favicon-114.png"/>
		<link rel="apple-touch-icon" sizes="72x72" href="static/src/favicons/favicon-72.png"/>
		<link rel="apple-touch-icon" sizes="144x144" href="static/src/favicons/favicon-144.png"/>
		<link rel="apple-touch-icon" sizes="60x60" href="static/src/favicons/favicon-60.png"/>
		<link rel="apple-touch-icon"  sizes="120x120" href="static/src/favicons/favicon-120.png"/>
		<link rel="apple-touch-icon" sizes="76x76" href="static/src/favicons/favicon-76.png"/>
		<link rel="apple-touch-icon" sizes="152x152" href="static/src/favicons/favicon-152.png"/>
		<link rel="apple-touch-icon" sizes="180x180" href="static/src/favicons/favicon-180.png"/>

		<meta name="msapplication-TileColor" content="#FFFFFF"/>
		<meta name="msapplication-TileImage" content="static/src/favicons/favicon-144.png"/>
		<meta name="msapplication-config" content="static/ssrc/favicons/browserconfig.xml"/>
        <!-- end favicon items -->

		<title>{% block title %}{% endblock %}</title>
		
		{% block head %}{% endblock %}
	</head>
	<body>
		<!-- Update cache. -->
		<script src="static/js/update-cache.js"></script>
		<script type="text/javascript">
			let currentVer = 25;
			checkVersion(currentVer);
		</script>

		<!-- header -->
		<div class="header-wrapper">
			<header id="primaryHeader">
				<div id="headContent">
					<a href="/">					
						<span class="page-title"><span class="blink noselect" id="blinker">></span>
						<h2 class="noselect" id="header-fullname">Thomas Varano</h2></a></span>
						<div id="nav-wrap">
							<script src="static/js/scrollNav.js"></script>
							<nav class="scrollable" id="navbar" onMouseOver="pauseNav()" onMouseOut="resumeNav()">
								<ul>
									<a href="/"><li id="-nav-item"><span class="noselect">Home</span></li></a>
									<a href="resume"><li id="resume-nav-item"><span class="noselect">Resume</span></li></a>
									<a href="contact"><li id="contact-nav-item"><span class="noselect">Contact</span></li></a>
									<a href="programming"><li id="programming-nav-item"><span class="noselect">Programming</span></li></a>
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

			<!-- end universal functions -->
		{% block universal %}
		{% endblock %}
		<script src="static/js/pageHandling.js"></script>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
		<script src="static/js/detect-mobile.js"></script>
	</body>
</html>