html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent;
}

#face-and-name {
  display: block;
  /* height: 250px; */
  margin-bottom: 40px;
}

#my-face {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  float: left;
  border-radius: 100px;
  display: table-cell;
  border: 5px solid var(--secondary);
  margin-right: 20px;
  object-fit: cover;
}

#my-face img {
  width: 300px;
  margin: -20px 0 0 -20px;
}

#name-intro {
  display: table-cell;
}

#index-name {
  font-family: var(--h-font-family);
  color: var(--secondary);
  font-size: 7vw;
    font-weight: 300;
    margin: 0px;
    text-align: left;
  }
  
  #main-content {
    height: calc(100vh - var(--header-height));
}

#index-wrap {
  min-height: calc(100vh - var(--header-height));
  margin: 0;
}

#intro {
  margin-left: 5%;
  margin-top: 0; margin-bottom: 0;
  text-align: left;
  font-family: var(--p-font-family);
  color: var(--secondary);
  font-weight: 300;
  font-size: 2vw;
}

@media (max-width: 700px) {
    #intro {
        font-size: 4vw;
    }
    
    #index-name {
        font-size: 20vw;
    }
}

#quick-links-wrap {
  padding: 10px;
}

#quick-links {
  font-size: 0px;
  white-space: normal;
  transition: all 0.5s;
}

#quick-links svg {
  width: 100%;
  height: auto;
}

.quick-links-margin {
  display: none;
  height: 10px;
}

.quick-link:hover {
  fill: white;
  transition: all 0.5s;
}

.quick-link {
  padding: 2%;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  fill: var(--primary);
  display: inline-block;
  transition: all 0.5s;

}

#quick-links .email:before {
  background: var(--secondary);
}

#quick-links .github:before {
  background: black;
}

#quick-links .resume:before {
  background: var(--secondary);
}

#quick-links .linkedin:before {
  background: #0077b5;
}

#quick-links .linkedin {
  margin-right: 0px;
} 

@media (max-width: 600px) {
    .quick-links-margin {
        width: 0px;
    } 
}

#bio {
  display: table-cell;
  padding-top: 15px;
  padding-left: 20px;
  font-weight: 300;
}

#top-sect {
  min-height: 220px;
}

aside {
  padding-top: 20px;
}

@media (max-width: 650px) {
  #my-face {
      margin-top: 50px;
  }
}

@media (max-width:500px) {

  #bio {
      padding-left: 10px;
      display: block;
  }

  #my-face {
      display: block;
      margin: 0px auto 0px auto;
      float: none !important;
  }
}

@media (max-width: 320px) {
  #bio {
      top: 400px;
  }
}
