html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  
  background: transparent;
}


#index-name {
  font-family: var(--h-font-family);
  color: var(--secondary);
  font-size: 15vw;
    font-weight: 300;
    margin: 0px;
    text-align: center;
  }
  
  #main-content {
    height: calc(100vh - var(--header-height));
}

#index-wrap {
  min-height: calc(100vh - var(--header-height));
  margin: 0;
}

#intro {
    text-align: center;
    font-family: var(--p-font-family);
    color: var(--secondary);
    font-weight: 300;
    font-size: 2vw;
}

@media (max-width: 700px) {
    #intro {
        font-size: 4vw;
    }
    
    #index-name {
        font-size: 20vw;
    }
}

/* if less than 1100, make text big and uncenter */

@media screen and (orientation: portrait) {
  #index-name {
    font-size: 20vw;
    text-align: left;
    margin-left: 10px;
  }
  #intro {
    font-size: 4.5vw;
  }
}

#quick-links-wrap {
  padding: 10px;
  margin-top: 60px;
  background-color: var(--primary);   
}

#quick-links {
  font-size: 0px;
  width: 75vw;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  white-space: normal;
  transition: all 0.5s;
}

.link-group {
  width: 50%;
  display: inline-block;
}

#links-left {
  text-align: right;
}

#links-right {
  float: right;
}

#quick-links svg {
  width: 100%;
  height: auto;
}

.quick-links-margin {
  display: none;
  height: 10px;
}

.quick-link:hover {
  fill: white;
  transition: all 0.5s;
}

.quick-link {
  padding: 2%;
  width: 40%;
  height: 40%;
  margin-left: 2%;
  margin-right: 2%;
  fill: var(--secondary);
  display: inline-block;
  transition: all 0.5s;

}

#quick-links .email:before {
  background: var(--secondary);
}

#quick-links .github:before {
  background: black;
}

#quick-links .resume:before {
  background: var(--secondary);
}

#quick-links .linkedin:before {
  background: #0077b5;
}

#quick-links .linkedin {
  margin-right: 0px;
} 

@media (max-width: 600px) {
    .quick-links-margin {
        width: 0px;
    } 
}
