:root {
    --purp: #42235d; /*66, 35, 93 */
    --teal: #5dcaca; /*93, 202,202 */
    --background: #54545f;
    
    --darkteal: #449A73;
    --darkgray: #646268;
    --lightpurp: #aa00ff;
    --pink: #FF6978;

    --header-height: 70px;

    --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 15px 0 rgba(0, 0, 0, 0.5);

    --h-font-family: 'Work Sans', sans-serif;
    --p-font-family: 'Roboto', sans-serif;

}

body {
    margin: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
}

.hidden {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
  }
  
/* HEADER */

#main-header {
    position: fixed;
    top:0px;
    background-color: white;
    width: 100%;
    height: var(--header-height);
    box-shadow: none;
    transition: box-shadow 0.5s;
}

#main-header.scrolled {
    box-shadow: var(--shadow);
    transition: box-shadow 0.5s;
}

#logo-wrapper {
    position: absolute;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    padding-top: 15px;
    background-color: white;
}

#header-name {
    font-size: 2em;
    font-family: var(--h-font-family);
    display: inline-block;
    vertical-align: top;
    height: inherit;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
}

#header-link {
    text-decoration: none;
    color: black;
}

#logo {
    display: inline-block;
    height: 50px;
    width: auto;

    transition: all 1s;
}

#logo.active {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);

    transition: all 1s;
}

#desktop-nav {
    position: absolute;
    top: 20px;
    margin-left: 25px;
    font-size: 0px;
}

nav button {
    background: transparent;
    font-family: var(--h-font-family);
    font-weight: 300;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.nav-bundle {
    display: inline-block;
}

.nav-bundle.active {
    /* box-shadow: 0px 4px var(--purp); */
    border-bottom: 4px solid var(--purp);
    transform: translateY(5px);
}

#desktop-nav button {
    padding-bottom: 5px;
}

#desktop-nav .nav-bundle.active button {
    /* color: var(--purp); */
    padding-bottom: 1px !important;
}

.nav-button-highlight {
    position: absolute;
    top: 0px;
    /* left: 0px; */
    /* width: 10px; */
    height: 5px;
    background: var(--teal);
    opacity: 0;
    transition: all 0.25s;
}

#mobile-nav.active {
    top: var(--header-height);
    /* z-index: 1; */
    transition: all 1s;
}

#mobile-nav {
    position: absolute;
    display: block;
    top: -50px;
    left: 0;
    width: calc(100vw - 10px);
    background: rgba(255,255,255,0.9);
    transition: all 1s;
    padding: 5px 0px 5px 10px;
}

#mobile-nav button {
    display: block;
}

#mobile-nav button.active {
    font-weight: 500;
    color: var(--purp);
}

#mobile-nav svg {
    width: 20px;
    height: auto;
    margin-right: 5px;
    margin-bottom: -3px;
}

/* FOOTER */
#main-footer {
    background: white;
    color: gray;
    padding: 10px 40px 10px 40px;
    height: 70px;
    width: calc(100% - 80px);
    display: block;
}

#main-footer div {
    padding: 0 10% 0 10%;
}



#main-footer p {
    color: gray;
    padding: 3px;
}

#main-footer a:hover {
    color: white;
}

#footer-name {
    float: right;
    display: inline-block;
}

#footer-message {
    /* float: left; */
    display: inline-block;
}

/* GENERAL CONTENT */

#main-content {
    font-family: var(--p-font-family);
    top: 0;
    z-index: -1;
    position: absolute;
    top: var(--header-height);
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    color: black;
    /* background: var(--background); */
}

.page-title {
    background: var(--teal);
    padding-left: 40px;
    width: calc(100% - 40px);
}

.page-title h1 {
    color: white;
    font-family: var(--h-font-family);
    font-weight: 550;
    font-size: 4em;
    margin: 0px;
}

.section-title {
    background: var(--teal);
    padding: 10px 0px 10px 40px;
    width: calc(100% - 40px);
    box-shadow: 0 2px 5px black;
}

.section-title h1 {
    color: white;
    font-family: var(--h-font-family);
    font-weight: 300;
    font-size: 3em;
    margin: 0px; 
}

section {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    display: block;
}

article {
    font-family: var(--p-font-family);
    font-size: 1.2em;
    margin: 20px 0 20px 0;
}

a {
    text-decoration: none;
    /* color: white; */
    color: var(--teal);
}

main h3 {
    font-family: var(--p-font-family);
    font-weight: 400;
    font-size: 1.5em;
    color: var(--background);
}

main button {
    color: white;
    background: var(--purp);
    padding: 15px 25px 15px 25px;
    border: none;
    cursor: pointer;
    font-family: var(--p-font-family);
    font-size: 1.2em;
}

.copy-holder {
    position: absolute;
    left: -200px; width: 10px;
}

/* END CONTENT */

@media (max-width: 400px) {
    .section-title, .page-title {
        padding-left: 10px !important;
        width: calc(100% - 10px) !important;
    }
}

@media (max-width: 750px) {
    section {
        margin-left: 10px;
        margin-right: 10px;
    }

    #main-footer p {
        font-size: 8pt;
    }
}

/* HOVER ANIMATIONS */

/* Underline From Left */
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: var(--teal);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  /* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--teal);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white !important;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }