{% extends "layouts/layout.html" %}

{% block title %}Resume | Tom Varano{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="static/css/resume.css">
<meta name="description" content="Printable, saveable resume for Tom Varano.">
{% endblock %}

{% block content %}
<script src="static/js/resume.js"></script>

<input style="position: absolute; top: -50px; left: -200px;" type="text" value="" id="res-href">

<section id="action-buttons">
    <a href="https://github.com/tvarano/resume/raw/master/output/programming/varano-resume.pdf"><button class="hvr-sweep-to-right">Download</button></a>
    <button id="copy-button" class="hvr-sweep-to-right" onclick="copyResume()">Copy Link</button>
    <button class="hvr-sweep-to-right" onclick="printResume()">Print</button>
</section>
<section id="resume-wrap">
    <iframe src="static/src/resume.pdf" id="resume-frame" name="resume-frame"></iframe>
</section>

{% endblock %}
