{% extends "layouts/layout.html" %}

{% block title %}Thomas Varano{% endblock %}

{% block content %}


<!-- <script src="https://rawcdn.githack.com/akzhy/Vara/16e30acca2872212e28735cfdbaba696a355c780/src/vara.min.js"></script>
<div id="container"></div> -->


text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>
text text text<br>
text text text<br>
text text text<br>
text text text<br>text text text<br>
text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>vtext text text<br>text text text<br>
text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>
text text text<br>
text text text<br>
text text text<br>
text text text<br>text text text<br>
text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>vtext text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>
text text text<br>
text text text<br>
text text text<br>
text text text<br>text text text<br>
text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>
text text text<br>text text text<br>text text text<br>vtext text text<br>text text text<br>
{% endblock %}